.top {
  background-color: #49484d;
  /*dark purple grey*/
  color: #fdfdfd;
  font-size: 35pt;
  text-align: center;
  height: 200px;
}

h5 {
font-size: 9pt;

}

.col-lg-2 {
  height: 200px;
  width: 200px;
  text-align: center;

}

h3 {

}
